body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #F2EFE7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #9ACBD0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.profile-img {
    position: absolute;
    top: 66px;
    left: 370px;
    width: 125px; /* Adjust size as needed */
    height: 125px; /* Adjust size as needed */
    border-radius: 50%; /* Makes it circular */
    object-fit: cover;
    border: 3px solid #333;
}

.section-title {
    font-size: 1.2em;
    margin-top: 20px;
    color: #2973B2;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}